body{
    background: rgb(3, 3, 3);
    background: linear-gradient(90deg, rgb(4, 3, 9) 0%, rgb(77, 77, 254) 35%, rgb(247, 85, 16) 100%);
color: white;
    }

.img0{
margin-left: 30%;
width: 500px;
}


.Gallery{
    width: 100px;
    
} 


* {
    text-decoration-line: none;
    }

.column {
    float: left;
    width: 16.66%;
    }

.box {
 margin-top: 10%;}


.text-Gallery {
    margin-left: 40%;
}
